.jumbotron {
    display: flex;
    align-items: center;
    background-image: url(Images/5dXhOPh3.giff);
    background-size: cover;
    height: 100%;
}

.body {
    cursor: url("Images/IMG_4083.ico"), default;
}

</style> font-family:monospace,
sans-serif;

}
h1 {
    align-content: center;
}
.noahclark {
    width: 170;
    display: block;
    margin-right: auto;
    margin-left: auto
}